// components/_buttons.scss
.sign-in-button, .edit-button, .transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: $primary-color;
  background-color: $primary-color;
  color: #fff;
}

.edit-button {
  padding: 10px;
}

@media (min-width: 720px) {
  .transaction-button {
    width: 200px;
  }
}